body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    color: #121212;
}

/* header{
    width: 1890px;
    height: 136.5px;
    display: flex;

    div{
        display: flex;
    }

    div.tote{
        width: 434px;
        height: 100%;
        flex-direction: column;
        padding: 29.5px 110.5px 29.5px 110.5px;


        .first{
            font-size: 47px;
        }

        second{
            font-size: 17px;
        }
    }
nav{
    width: 850px;
    height: 100%;
    align-content: center;
    justify-items: center;

    ul{
        display: flex;
        list-style: none;
        padding: 0;
        gap: 35px;

        a{
            text-decoration: none;
        }
    }
}
    div{
        width: 605px;
        height: 100%;
        display: flex;
        align-items: center;

        button{
            width: 153px;
            height: 44px;

            svg{
                width: 26px;
                height: 26px;
            }
            
            p{
                font-size: 17px;
            }
        }

        .log_in{
            width: 120px;
            height: 40px;

            svg{
                width: 22px;
                height: 22px;
            }

            a{}
        }

        
        svg.bag{
            width: 21px;
            height: 25px;
        }

    }

} */

main{
    width: 1890px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 40px;
    }

    p.text{
        font-size: 26px;
        margin: 28px 0 10px 0;
    }

    div.info{
        display: flex;
        width: 327px;
        height: 20px;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;

        p{
          font-size: 17px;
          margin: 0;
        }
    }

    form{
        width: 779px;
        height: 592px;

        div{
        display: flex;
        flex-direction: column;
        margin-top: 24px;

            input{
                height: 40px;
                padding: 8px 2px 8px 12px;
            }

            label{
                margin-bottom: 8px;
            }

            textarea{
                height: 92px;
                padding: 0 12px;
            }
        }
    }
    div.submit{
        align-items: end;
        button{
            width: 238px;
            height: 44px;
            background-color: #121212;
            padding: 11px 12px;
            color: white;
            cursor: pointer;
            font-size: 17px;
            border-radius: 5px;
            margin-top: 48px;
        }

        button:hover{
            border: 1px solid black;
            background-color: white;
            color: #121212;
        }
    }
}



/* input, 
textarea{
    border: 1px solid white;
    background-color: rgb(4, 9, 51);
    color: white;
    padding-left: 8px;
    font-size: 18px;
}

input{
    height: 40px;
}

div.name_lastname {
    display: flex;
    gap: 20px;

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
}

div.email, 
div.phone,
div.message {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
}


textarea{
resize: none;
width: 100%;
}

button {
    width: 100%;
    height:  41px;
    color: rgb(4, 9, 51);
    border-radius: 0;
    border: none;
    margin-top: 40px;
} */